// Microsoft Visual C++ generated resource script.
//

#include "main.h"


/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32


#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// French (Luxembourg) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRL)
#ifdef _WIN32
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH_LUXEMBOURG
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION PBX_VERSION_RC
 PRODUCTVERSION PBX_VERSION_RC
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "140c04b0"
        BEGIN
            VALUE "Comments", "PbniList, a linked list and vector object for PowerBuilder"
            VALUE "FileDescription", "PbniList Powerbuilder Extension"
#ifdef _DEBUG
			" - DEBUG"
#else
			""
#endif
            VALUE "FileVersion", PBX_VERSION
            VALUE "InternalName", "PbniList"
            VALUE "LegalCopyright", "Copyright © 2010,2011,2015,2017 Sébastien Kirche & Nicolas Georges"
            VALUE "OriginalFilename", "PbniList.pbx"
            VALUE "ProductName", "PbniList Powerbuilder Extension"
            VALUE "ProductVersion", PBX_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x140c, 1200
    END
END

#endif    // French (Luxembourg) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

